<!DOCTYPE html>
<html lang="en">
    <%- partial('partial/head') %>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container page-navigation-top-fixed">

            <%- partial('partial/sidebar') %>

            <!-- PAGE CONTENT -->
            <div class="page-content">

                <%- partial('partial/headbar') %>

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb push-down-0">
                    <li><a href="#">Home</a></li>
                    <li class="active">Hoạt động đoàn</li>
                </ul>
                <!-- END BREADCRUMB -->                                                

                <!-- START CONTENT FRAME -->
                <div class="content-frame">     
                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">                        
                        <div class="page-title">                    
                            <h2>Hoạt động đoàn</h2>
                        </div>                                                
                        <div class="pull-right">
                            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
                        </div>                                
                    </div>                    
                    <!-- END CONTENT FRAME TOP -->

                    <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body content-frame-body-left">

                        <div class="row push-up-10">

                            <div class="tasks" id="tasks">
                                <div class="task-item task-primary">                                    
                                    <div class="task-footer">
                                        <div class="pull-left">Hồng Hạnh - <span class="fa fa-clock-o"></span> 21 giờ 15/11</div>                                    
                                        <div class="pull-right"><a href="https://courses.fit.hcmus.edu.vn/mod/assign/view.php?id=34755"><span class="fa fa-chain"></span></a></div>
                                    </div>
                                    <div class="task-text">
                                        Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha
                                    </div>
                                </div>
                            </div>

                            <div class="tasks" id="tasks">
                                <div class="task-item task-primary">                                    
                                    <div class="task-footer">
                                        <div class="pull-left">Hồng Hạnh - <span class="fa fa-clock-o"></span> 21 giờ 15/11</div>                                    
                                        <div class="pull-right"><a href="https://courses.fit.hcmus.edu.vn/mod/assign/view.php?id=34755"><span class="fa fa-chain"></span></a></div>
                                    </div>
                                    <div class="task-text">
                                        Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                        Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                        Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                        Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                        Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                        Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                        Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                        <div class="collapse" id="xxx">
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                            Mấy bạn ơi, ai còn giữ giấy pông thì mai mang cho mình gấp nha nha nha<br/>
                                        </div>
                                        <div class="pull-right"><a tab-index="0" data-toggle="collapse" data-target="#xxx">Xem thêm &gt;&gt;</a></div>
                                    </div>
                                </div>

                            </div>
                        </div>                            

                    </div>
                    <!-- END CONTENT FRAME BODY -->

                </div>
                <!-- END CONTENT FRAME -->

            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <%- partial('partial/scripts') %>
    </body>
</html>
