<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>
    <!-- TASKS -->
    <li>
        <a href="#"><span class="fa fa-arrow-left"></span></a>
    </li>
    <li class="xn-icon-button pull-right">
        <a href="#"><span class="fa fa-bell"></span></a>
        <div class="informer informer-warning">3</div>
        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
            <div class="panel-heading">
                <div class="pull-right">
                    <span class="label label-warning">3 thông báo mới</span>
                </div>
            </div>

            <div class="panel-body list-group scroll" style="height: 200px;">

                <a class="list-group-item" href="#">
                    <strong>XYZ vừa thêm deadline</strong><br/>
                    <small class="text-muted">XYZ - 3 phút trước</small>
                </a>

                <a class="list-group-item" href="#">
                    <strong>ABC vừa thông báo</strong><br/>
                    <small class="text-muted">ABC - 10 phút trước</small>
                </a>

                <a class="list-group-item" href="#">
                    <strong>XYZ vừa thêm deadline</strong><br/>
                    <small class="text-muted">XYZ - 3 phút trước</small>
                </a>
            </div>
            <div class="panel-footer text-center">
                <a href="pages-tasks.html">Xem tất cả thông báo</a>
            </div>
        </div>
    </li>
    <!-- END TASKS -->
</ul>

