<div class="page-sidebar page-sidebar-fixed scroll">
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="/index.html">Tittle</a>
            <a href="#" class="x-navigation-control"></a>
        </li>
        <li class="xn-title">Navigation</li>
        <li>
            <a href="/index.html"><span class="fa fa-tasks"></span> <span class="xn-text">Deadline</span></a>
        </li>
        <li>
            <a href="/thongbao.html"><span class="fa fa-bell"></span> <span class="xn-text">Thông báo lớp</span></a>
        </li>
        <li>
            <a href="/lichthi.html"><span class="fa fa-calendar"></span> <span class="xn-text">Lịch thi</span></a>
        </li>
        <li>
            <a href="/doan.html"><span class="fa fa-desktop"></span> <span class="xn-text">Hoạt động đoàn</span></a>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Hướng dẫn làm bài</span></a>
            <ul>
                <li><a href="/blog/nmlt.html">Nhập môn Lập trình</a></li>
                <li><a href="/blog/trr.html">Toán rời rạc</a></li>
                <li><a href="/blog/vtp1b.html">Vi tích phân 1B</a></li>
                <li><a href="/blog/av1.html">Anh văn 1</a></li>
                <li><a href="/blog/av2.html">Anh văn 2</a></li>
            </ul>
        </li>
    </ul>
</div>
